[submodule "janus/vim-abolish"]
	path = janus/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "janus/bootstrap-snippets"]
	path = janus/bootstrap-snippets
	url = git@github.com:bonsaiben/bootstrap-snippets.git
[submodule "janus/vim-colors-github"]
	path = janus/vim-colors-github
	url = git@github.com:croaky/vim-colors-github.git
[submodule "janus/vim-go"]
	path = janus/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "janus/vim-rubocop"]
	path = janus/vim-rubocop
	url = git@github.com:ngmy/vim-rubocop.git
[submodule "janus/vim-simpledb"]
	path = janus/vim-simpledb
	url = git@github.com:ivalkeen/vim-simpledb.git
[submodule "janus/vim-seeing-is-believing"]
	path = janus/vim-seeing-is-believing
	url = git@github.com:hwartig/vim-seeing-is-believing
[submodule "janus/emmet-vim"]
	path = janus/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "janus/vim-autoread"]
	path = janus/vim-autoread
	url = git@github.com:djoshea/vim-autoread.git
